body {
	background-color: #f1f2f0;
	line-height: 1.42857143;
}

div#container {
	bottom: 0;
	height: 300px;
	left: 0;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	width: 430px;

	background-color: white;
	font-size: 15px;
	word-wrap: break-word;
	font-family: Verdana;
	border-radius: 5px;
}

div#ribbon {
	background-color: #ffc652;
	width: 30px;
	height: 70px;
	margin-left: 10px;
	margin-top:	-2px;
	position: absolute;
	color: #40627a;
}

div#ribbon:before {
	content: " ";
	display: block;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 15px;
	border-color: transparent;
	left: 0;
	border-bottom-color: white;
	bottom: -1px;
	padding-bottom: 40px;
}

div#number {
	text-align: center;
	margin-top: -45px;
	color: rgb(64, 98, 122);
	font-weight: bold;
}

div#content {
	padding: 18px 25px 20px 50px;
	color: #333333;
}

div#word {
	margin-bottom: 10px;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #40627a;
}

div#definition {
	margin-bottom: 10px;
}

div#example {
	font-style: italic;
	white-space: pre-wrap;
}

input[type=text] {
	margin-bottom: 10px;
	width: 250px;
	border: 0px solid white;
	border-bottom: 2px solid gray;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #40627a;
	outline:none; /*destroy usability, improve looks*/
}

span.secret {
	font-style: normal;
}